* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

body {
	background-color: #fafafa;
}

.advertisements-wrapper {
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
	flex-wrap: wrap;
	gap: 20px;
}

.advertisements-wrapper .adv-link {
	display: block;
	flex-basis: calc(100% / 5 - 20px);
	max-width: calc(100% / 5 - 20px);
}

.advertisements-wrapper .p-card-title {
	font-size: 14px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 1220px) {
	.advertisements-wrapper {
		max-width: 1080px;
	}
}

@media (max-width: 1080px) {
	.advertisements-wrapper {
		max-width: 100%;
	}

	.advertisements-wrapper .adv-link {
		flex-basis: calc(100% / 4 - 20px);
		max-width: calc(100% / 4 - 20px);
	}
}

@media (max-width: 860px) {
	.advertisements-wrapper .adv-link {
		flex-basis: calc(100% / 3 - 20px);
		max-width: calc(100% / 3 - 20px);
	}
}

@media (max-width: 640px) {
	.advertisements-wrapper .adv-link {
		flex-basis: calc(100% - 20px);
	}
}

.card-info-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}

.card-image {
	position: relative;
	width: 100%; 
	aspect-ratio: 1/1;
	overflow: hidden;
}
  
.card-image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-footer {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	align-items: flex-start;
	font-size: 12px;
	gap: 7px;
	color: #a0a0a0;
}

.advertisements-wrapper .p-card .p-card-content {
	padding: 0;
}

.dialog-footer {
	display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
	gap: 10px;
}

.card-link a {
	color: #303030;
	transition: color 0.2s ease-in-out;
}

.card-link a:hover {
	color: #505050;
}

.navigation-buttons {
	display: flex;
	align-items: center;
	gap: 5px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	padding: 10px;
}

.nav-button {
	color: #555555;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.nav-button a {
	color: #555555;
}

.p-paginator.p-component {
	background-color: inherit;
}

.advertisement-main-block {
	display: flex;
	gap: 20px;
}

.advertisement-main-block ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.advertisement-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: calc(100% - 250px - 20px); /* Размер изображения и gap */
}

.advertisement-controls {
	display: flex;
	margin-top: 15px;
	align-items: center;
	gap: 10px;
}

.item-link a {
	color: inherit;
	transition: color 0.2s ease-in;
	text-overflow: ellipsis;
}

.item-link a:hover {
	color: #5f2bc0;
}

.advertisements-filter {
	position: relative;
	max-width: 250px;
}

.advertisements-filter button {
	position: absolute;
	right: 0;
}

.item-dialog-form {
	display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-dialog-form p {
	margin-bottom: 5px;
}
